body {
    background-color: magenta;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column; /* Вертикальная компоновка */
}

.letter-i {
    width: 10vh; /* Размер логотипа */
    height: 10vh;
    margin-bottom: 20px; /* Отступ между логотипом и списком */
}

.list {
    width: 500px;
    padding: 20px 30px;
    box-sizing: border-box;
    background-color: white;
    transition-duration: .5s;
    list-style-type: none;
}

.item {
    background-color: darkmagenta;
    height: 40px;
    margin-top: 10px;
}

.list:not(.animate) .item {
    transition-duration: .5s;
    transition-property: transform, visibility;
    transform: translateX(-20%);
    visibility: hidden;
    opacity: 0;
}

.list.animate .item1 {
    animation: list-show .2s 1;
}

.list.animate .item2 {
    animation: list-show .4s 1;
}

.list.animate .item3 {
    animation: list-show .6s 1;
}

@keyframes list-show {
    from {
        visibility: hidden;
        opacity: 0;
        transform: translateX(20%);
    }
    to {
        visibility: visible;
        opacity: 1;
        transform: translateX(0);
    }
}

.cls-1 {
    fill: none;
    stroke: #000;
    stroke-miterlimit: 10;
    stroke-width: 5px;
    stroke-linecap: round;
    stroke-dasharray: 1500;
    animation: lines 4s infinite;
}

.dot {
    stroke-dasharray: 500;
    stroke: var(--color);
}

.stem {
    stroke: var(--color);
}

@keyframes lines {
    100% {
        stroke-dashoffset: 3000;
    }
}
