body {
    display: flex;
    flex-direction: column; /* Убедитесь, что элементы располагаются вертикально */
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
}

.list {
    list-style-type: none; /* Убираем маркеры списка */
    padding: 0;
    margin: 20px 0; /* Добавляем отступы сверху и снизу */
    color: white; /* Цвет текста */
}

.letter-i {
    width: 80vh;
    height: 80vh;
}

.cls-1 {
    --delay: calc(var(--item) * 1s);
    fill: none;
    stroke: #000;
    stroke-miterlimit: 10;
    stroke-width: 5px;
    stroke-linecap: round;
    stroke-dasharray: 1500;
    animation: lines 4s infinite var(--delay);
}

.dot {
    stroke-dasharray: 500;
    stroke: var(--color);
}

.stem {
    stroke: var(--color);
}

@keyframes lines {
    100% {
        stroke-dashoffset: 3000;
    }
}
